.productbox{

  max-width: 800px;
  height: 700px;
  margin: 3rem auto;
  border: 2px   #2e77ae;
  box-shadow: 0 0 4px #e0eaf5; 
  padding: 2rem;
  background-color: #f6fbfc;
  border-radius: 10px;
  color: #0d2137;
}

img{

  height: 100%;
  width: 65%;
}

p {

  padding: 20px 0px 0px 10px;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  line-height: 21px;
  float: right;
}

.cart{

    padding: 2px;
    width: 80px;
    height: 40px;
    border: #2e77ae;
    font-size: 18px;
    font-weight: bold;
    font-family: roboto;
    text-transform: uppercase;
    background-color: white;
    border: solid #2e77ae;
    color: #2e77ae;
    border-radius: 8px;
    line-height: 18px;
    float: right;
    margin-top: 600px;
    text-align: center;
}

.cart:hover{

    background-color: #ff8e2b;
    color: #0d2137;

}

.title{

    font-size: 20px;
    line-height: 12px;
    font-weight: bold;
    font-family: roboto;
    color: #2e77ae;
    margin: 0px;
    float: right;
    text-align: left;

  
}

.type{

    font-size: 16px;
    line-height: 12px;
    font-weight: normal;
    font-family: roboto;
    color: #2e77ae;
    margin-top: -650px;
    margin-right: 115px;
    float: right;
    text-align: left;

  
}

.copy{

    font-size: 16px;
    line-height: 12px;
    font-weight: normal;
    font-family: roboto;
    text-align: left;
    color: #2e77ae;
    margin-top: -600px;
    margin-right: -30px;
    float: right;
    width: 35%;

  
}

.price{

    font-size: 16px;
    line-height: 12px;
    font-weight: normal;
    font-family: roboto;
    color: #2e77ae;
    margin-top: -140px;
    margin-right: 130px;
    float: right;
    text-align: left;

  
}


.checkout{

    padding: 7px;
    width: 180px;
    height: 40px;
    border: #2e77ae;
    font-size: 26px;
    font-weight: bold;
    font-family: roboto;
    text-transform: uppercase;
    background-color: white;
    border: solid #2e77ae;
    color: #2e77ae;
    border-radius: 8px;
    line-height: 18px;
    float: right;
    margin-top: 10px;
    text-align: center;
}

.checkout:hover{

    background-color: #ff8e2b;
    color: #0d2137;

}

.checkoutimg{

  height: 200px;
  width: 160px;
  align-items: left;
}

.checkoutcopy{

    font-size: 18px;
    font-weight: normal;
    font-family: roboto;
    color: #2e77ae;
    text-align: center;

    margin-right: 320px;
    margin-top: 50px;


}
