


header{
	background-color: #fff;
	width: 100%
	height: 100px;
}

header .header-brand{
	font-size: 50px;
	font-family: sans-serif;
	font-weight: bolder;
	color: #111;
	text-decoration: none;
	padding: 0px 20px 40px 30px;
	display: block;
	margin: 0 auto;
	text-align: left;
	float: left;
	line-height: 90px;

}


header nav {
	width: 100%;
	height: 100px;
	background-color: #e0eaf5;

}




header nav ul {
	margin: 0;
	float: right;

}



header nav ul li {

	list-style: none;
	display: inline-block;
	float: left;
	line-height: 100px;


}



header nav ul li a{

	display: block;
	text-decoration: none;
	font-size: 16px;
	font-family: sans-serif;
	color: #1e1e1e;
	padding: 0 20px;
	line-height: 110px;



}

ul li a:hover {
	color: #ff8e2b;
}



.wrapper{
	display: flex;
	justify-content: center;
	width: 100%;



}

.img-info{
	width: 50%;
	float: right;
	padding-left: 30px;

}

.img-info h2{
	padding: 20px 0px 0px 7px;
	font-size: 30px;
	font-family: sans-serif;
	color: black;
	line-height: 44px;
	float: left;


}

.img-info p{
	padding: 20px 0px 0px 10px;
	font-size: 16px;
	font-family: sans-serif;
	color: black;
	line-height: 21px;
	float: left;


}

.brewery{
padding-top: 0px;
width: 45%;
float: left;



}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #0d2137;
  padding-top: 50px;

}






